body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url('Images/272ddb80b6378ecaf212a06d3b4663a7.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#botonFuncional {
    background: #3E4551;
    border-color: #3E4551;
    color: white;
    font-weight: bold;
}
#botonFuncionalSeleccionRegistro {
    background: #3E4551;
    border-color: #3E4551;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
#botonFuncionalSeleccionRegistro:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    background: #555a66;
    font-weight: bolder;
}
.table {
    background: #555a66;
    color: white;
    border-radius: 3px,3px;
}
#botonFuncional:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    background: #555a66;
    font-weight: bolder;
}
/*#productoListImage {
    float: none;
    max-width: 384px;
    max-height: 216px;
    min-height: 144px;
    max-width: 256px;
    display: block;
    background-size: cover;
}*/
.navbar-header a {
    color: white;
    font-weight: 400;
}
.navbar-header a:hover {
    color: whitesmoke;
}
.titleContainer {
    display: inline-block;
    color: white;
    /*background: #3E4551;*/
}
#sucursalesListImage {
    height: auto;
    width: 10%;
    display: inline;
}
#tituloSucursales {
    text-align: center;
    font-weight: bold;
    color: white;
}
#tituloMenu {
    text-align: center;
    font-weight: bold;
    color: white;
}
#sucursalPanel {
    border-width: thin;
}
#sucursalPanelHeading {
    background: #3E4551;
    color: white;
    font-weight: bold;
    border-color: #3E4551;
}
#sucursalPanelBody {
    background: #4B515D;
    color: white;
    border-color: #4B515D;
}
#sucursalPanelFooter {
    background: #3E4551;
    padding: 0px;
    color: white;
    border-color: #4B515D;
}
#productoPanel {
    border-width: thin;
}
#productoPanelHeading {
    background: #3E4551;
    color: white;
    font-weight: bold;
    border-color: #4B515D;
}
#productoPanelBody {
    background: #4B515D;
    color: white;
    border-color: #4B515D;
}
#productoPanelFooter {
    background: #3E4551;
    padding: 0px;
    color: white;
    border-color: #4B515D;
}
#btnVisualizarMenu {
    background: #3E4551;
    color: white;
    border-color: #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: bold;
}
#btnOrdenarProducto {
    background: #3E4551;
    border-color: #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: bold;
    color: white;
}
#btnOrdenarProducto:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    background: #555a66;
    font-weight: bolder;
}
#btnVisualizarMenu:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    background: #555a66;
    font-weight: bolder;
}
#navbar {
    background: #3E4551;
}
#navbarUl a{
    color: white;
    font-weight: 400;
}
#navbarRightUl a {
    color: white;
    font-weight: 400;
}
#navbarRightUl a:hover {
    background: #555a66;
}
#navbarUl a:hover {
    color: whitesmoke;
    background: #555a66;
}

#navbarRightUl a:hover {
    color: whitesmoke;
}
.label-sucursal {
    font-weight: bold;
    color: white;
    min-height: 30px;
}
.label-producto {
    font-weight: bold;
    color: white;
}
.form-horizontal label {
    color: white;
}
/*
.container body-content {
    background-color: #a14d43;
}
.col-lg-4 mb-4{

}
.card h-100{
}
.card-header{

}
.card-body{

}
.card-text{

}
.card-footer{

}*/
#productoPanelBodyImage {
    background: #4B515D;
}
#productoListImage {
    max-width: 256px;
    max-height: 144px;
    background: #4B515D;
}
/*#productoPanelBodyImage {
    background: #4B515D;
}*/
.form-group label{
    color: white
}