body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url('Images/tenderloin-crop.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ef9a9a;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#productoListImage {
    float: left;
    width: 25%;
    height: 25%;
    background-size: cover;
}
.navbar-header a {
    color: black;
    font-weight: 400;
}
.navbar-header a:hover {
    color: whitesmoke;
}
#titleContainer {
    display: inline;
}
#sucursalesListImage {
    height: auto;
    width: 10%;
}
#tituloSucursales {
    text-align: center;
    font-weight: bold;
}
#sucursalPanel {
    border-width: thin;
}
#sucursalPanelHeading {
    background: #ff8a80;
    color: black;
    font-weight: bold;
}
#sucursalPanelBody {
    background: #ffcdd2;
}
#sucursalPanelFooter {
    background: #ff8a80;
    padding: 0px;
}
#btnVisualizarMenu {
    background: #ff8a80;
    color: black;
    border-color: #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: bold;
}
#btnVisualizarMenu:hover{
    color: whitesmoke;
    font-weight: bold;
}
#navbar {
    background: #ff8a80;
}
#navbarUl a{
    color: black;
    font-weight: 400;
}
#navbarRightUl a {
    color: black;
    font-weight: 400;
}
#navbarUl a:hover {
    color: whitesmoke;
}

#navbarRightUl a:hover {
    color: whitesmoke;
}
.label-sucursal{
    font-weight: bold;
}
.label-producto{
    font-weight: bold;
}
/*
.container body-content {
    background-color: #a14d43;
}
.col-lg-4 mb-4{

}
.card h-100{
}
.card-header{

}
.card-body{

}
.card-text{

}
.card-footer{

}*/

