@{
    ViewBag.Title = "Contact";
}
    <div class="titleContainer">
        <h2>@ViewBag.Title.</h2>
    </div>
<h3>@ViewBag.Message</h3>

<address>
    Calle Los guandules<br />
    San Pedro de Macorís, San Pedro de macorís 21000<br />
    <abbr title="Phone">P:</abbr>
    829-962-8179
</address>

<address>
    <strong>Soporte técnico:</strong>   <a href="mailto:felejunier@hotmail.com">felejunier@hotmail.com</a><br />
    <strong>Negocios:</strong> <a href="mailto:felejunier@hotmail.com">felejunier@example.com</a>
</address>